body{
    background-image: url("image.png");
    background-repeat: no-repeat; 
    
    background-size: cover;
    /*background-transform:rotate(45deg);*/
    background-attachment: fixed;

}

*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
    
}


.org ul{
    position: absolute;
    float: right;
    top: 20%;
    right: 5%;
    list-style-type: none;
    margin-top: 25px;
}

.org ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    border: 1px solid black;
}

.org ul li a:hover{
    background-color: black;
    color: aqua;
    transition: 0.6s ease;
}

.org ul li.active a{
    background-color: black;
    color: aqua;
}

.org .logo img{
    float: left;
    position: absolute;
    top: 5%;
    left: 10%;
    width: 200px;
    height: auto;
}


 .title1{
    font-size: xx-large;
    position: absolute;
    top: 10%;
    left: 50%;
    
    transform: translate(-50%,-50%);
}

.org{
    left: 10%;
    right: 10%;
}

.nav{
    position: relative;
    top: 8pc;
    
    right: 23pc;
}