<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Portal</title>
    <link rel="stylesheet" type="text/css" href="static/style1.css">

</head>
<body>
    <header>
        <div class="title1">
            <h1>PESU Student's Job Portal</h1>
        </div>
        <div class="org">

            <div class="logo">
               <img src="static/logo/logo.png" alt=""> 
            </div >
            <div class="nav">
               
            <ul>
                <li class="active"><a href="/"><b>Home</b></a></li>
                <li><a href="/st"><b>Student</b></a></li>
                <li><a href="/l"><b>Lecturer</b></a></li>
                <li><a href="/j"><b>Jobs</b></a></li>

                <li><a href="#"><b>Contact</b></a></li>
            </ul>
        
        </div>
        </div>
        
    </header>
    
</body>
</html>